.NavBar {
  background: linear-gradient(to right, rgb(0, 60, 150), rgb(90, 140, 242));
  border: 1px solid white;
  color: white;
  }
  .NavLink {
    padding: 5px;
  }
  
  .Active i {
    color: rgb(0, 60, 150);
  }