.SearchBar input {
    text-align: center;
    color: #242a3d;
    padding-left: 40px;
    margin-top: 50px;
    margin-bottom: 16px;
  }
  
  
  .SearchIcon:hover {
    cursor: default;
    color: #cfced3;
  }